snippet var
var $1 = $2
endsnippet


snippet fun
func $1($2):
	$3
	#end
endsnippet

snippet cs1
################################################################################
# $1
################################################################################
endsnippet

snippet cs2
#---------------------------------------- 
# $1
#---------------------------------------- 
endsnippet

snippet ee
  #end
endsnippet
