snippet var
var $1 = $2
endsnippet


snippet fun
func $1($2)$3:
	$4
	#end
#end
endsnippet

snippet cs1
################################################################################
# $1
################################################################################
endsnippet

snippet cs2
#---------------------------------------- 
# $1
#---------------------------------------- 
endsnippet

snippet ee
	#end
#end
endsnippet
